.modal__over {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);

  z-index: 20;
}

.modal__window {
  max-width: calc(100vw - 40px);
  max-height: calc(100vh - 10px);
}
